<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>List of Experiments</title>
  <link rel="stylesheet" href="../css/exp.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>


  <div id="container">

    <div class="topnav" id="myTopnav">
      <a href="/">Home</a>
      <a href="/login" style="">Login</a>
      <a href="/signup">Signup</a>
      <a href="/exp">List Of Experiment</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
      <div class="topnav-right"> <!-- Update this line -->
        {{#if user}}
        <a>Welcome, {{user.name}}!</a>
        {{else if message}}
        <a>{{message}}</a>
        {{/if}}

      </div>
    </div>


    <div id="box">
      <div class="title">
        <h1>Select any Experiment</h1>
      </div>
      <div class="list-contents">
        <table class="styled-table">
          <thead>
            <tr>
              <th>S.NO</th>
              <th>Experiments</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td>1</td>
              <td><a href="/p1">To study Variation of Ge crystal resistivity with temo by four probe method and hence to
                  determine the bandgap for it.</a></td>
            </tr>

            <tr>
              <td>1</td>
              <td><a href="/p2">To verify ohm's law and determine the current.</a></td>
            </tr>

            <tr>
              <td>3</td>
              <td><a href="/p3">Understand the equivalence of mass and energy.</a></td>
            </tr>

            <tr>
              <td>4</td>
              <td><a href="/p4">Finding the resistance of a given wire using metre bridge and hence determine
                  resistivity of its material.</a></td>
            </tr>


            <tr>
              <td>5</td>
              <td><a href="/p5">Verifying law of series combination of resistance using meter bridge.</a></td>
            </tr>

            <tr>
              <td>6</td>
              <td><a href="/p6">To compare emf of two given primary cells using potentiometer.</a></td>
            </tr>

            <tr>
              <td>7</td>
              <td><a href="/p7">To determine density of solid using sonometer.</a></td>
            </tr>

            <tr>
              <td>8</td>
              <td><a href="/p8">Measurement thickness of a given sheet.</a></td>
            </tr>

            <tr>
              <td>9</td>
              <td><a href="/p9">Variation of temp of two junction vs thermo EMF.</a></td>
            </tr>
            <tr>

            <tr>
              <td>10</td>
              <td><a href="/p1">To study Variation of Ge crystal resistivity with temo by four probe method and hence to
                  determine the bandgap for it.</a></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="../javascript/home.js"></script>
</body>

</html>