<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <title></title>
  <link rel="stylesheet" href="../css/login.css">
  <script src="https://kit.fontawesome.com/167ea13437.js" crossorigin="anonymous"></script>
</head>

<body>

  <div class="container">
    <!--Navbar Code -->
    <div class="topnav" id="myTopnav">
      <a href="/">Home</a>
      <a href="/login" style="">Login</a>
      <a href="/signup">Signup</a>
      <a href="/exp">List Of Experiment</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
      <div class="topnav-right"> <!-- Update this line -->
        {{#if user}}
        <a>Welcome, {{user.name}}!</a>
        {{/if}}
      </div>
    </div>
    <!--Navbar Code Ends -->

    <div class="form-box form-box-login">
      <h1 id="title">Login</h1>
      <form class="" action="/login" method="post">
        <div class="input-group">
          <div class="input-field">

            <i class="fa fa-envelope"></i>
            <input type="email" placeholder="email" name="email" value="">
          </div>

          <div class="input-field">

            <i class="fa fa-solid fa-lock"></i>
            <input type="password" placeholder="password" name="password" value="">

          </div>
          <div>
            {{#if error}}
            <p style="color: red;">{{error}}</p>
            {{/if}}
          </div>

        </div>

        <div class="btn-field">
          <input type="submit" id="signinBtn" name="button" value="Sign In">
          <a href="/" id="signinBtn">Sign Up</a>

        </div>
      </form>
    </div>

  </div>
</body>

</html>