<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Ohm's law</title>
  <link rel="stylesheet" href="../css/beautify.css">
</head>


<body>
  <div class="container" id="form1">
    <!--Navbar Code -->
    <div class="topnav" id="myTopnav">
      <a href="/">Home</a>
      <a href="/login" style="">Login</a>
      <a href="/signup">Signup</a>
      <a href="/exp">List Of Experiment</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
      <div class="topnav-right"> <!-- Update this line -->
        {{#if user}}
        <a>Welcome, {{user.name}}!</a>
        {{/if}}
      </div>
    </div>
    <!--Navbar Code Ends -->
    <div class="box">
      <div class="heading">
        <h2>To verify ohm's law and determine the current.</h2>
      </div>
      <form class="" action="/p2" method="post">
        <div class="inputs">
          <div class="input-box">

            <label for="resistance">Resistance (In Ohm):</label>
            <input type="number" id="resistance" name="resistance" value="" required><br><br>


          </div>
        </div>
        <div class="btn">
          <button class="add-more-input" type="button" name="button">+</button>
        </div>

        <div class="btn">
          <button class="remove-input" type="button" name="button">-</button>
        </div>

        <div class="readings">

          <div class="voltage mid">
            <div class="input-fields">
              <h1>Readings For Voltage(mV)</h1>
              <div class="reading">
                <input class="reading-i" type="number" name="voltage" value="" placeholder="reading 1" required>
                <input class="reading-i" type="number" name="voltage" value="" placeholder="reading 2" required>
              </div>
            </div>
          </div>

        </div>

        <div class="btn submit">
          <button class="submit" type="submit" name="submit-button">Submit</button>
          <!-- <input class ="submit" type="submit" name="submit" value="Submit"> -->
        </div>
      </form>

      <div id="output">
        <div class="result">

          <div class="input-box">
            <label class="l">Resistance:</label>
            <label class="r"></label>
          </div>

          <div class="input-box">
            <label class="l">Voltage values:</label>
            <label class="r"></label>
          </div>

          <div class="input-box">
            <label class="l">Current Values:</label>
            <label class="r"></label>
          </div>

        </div>
        <div class="chart">
          <canvas id="chartId" aria-label="chart" heigth="350" width="580"></canvas>
        </div>

      </div>
      <div class="btn submit" id="report">
        <button type="button" onClick=printForm()>Print</button>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js"></script>
  <script src=" https://printjs-4de6.kxcdn.com/print.min.js"></script>
  <script src="../javascript/p2.js" charset="utf-8"></script>

</body>

</html>
