<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <title></title>
  <link rel="stylesheet" href="../css/signup.css">
  <script src="https://kit.fontawesome.com/167ea13437.js" crossorigin="anonymous"></script>
</head>

<body>

  <div class="container">

    <!--Navbar Code -->
    <div class="topnav" id="myTopnav">
      <a href="/">Home</a>
      <a href="/login" style="">Login</a>
      <a href="/signup">Signup</a>
      <a href="/exp">List Of Experiment</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <!--Navbar Code Ends -->
    <div class="form-box">
      <h1 id="title">Sign Up</h1>
      <form class="" action="/signup" method="post">
        <div class="input-group">
          <div class="input-field" id="name-field">

            <i class="fa fa-solid fa-user"></i>
            <input type="text" placeholder="name" name="name" value="">

          </div>

          <div class="input-field">

            <i class="fa fa-envelope"></i>
            <input type="email" placeholder="email" name="email" value="">
          </div>

          <div class="input-field">

            <i class="fa fa-solid fa-lock"></i>
            <input type="password" placeholder="password" minlength="8" name="password" value="">

          </div>

        </div>
        <div class="btn-field">
          <input type="submit" id="signupBtn" name="button" value="Sign Up">


          <a href="/login" id="signinBtn">Sign In</a>
        </div>

      </form>


    </div>
  </div>

</body>

</html>